{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block content %}

<div class="confirm-form" style="display: none !important;">
  <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>
  <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
  <p>Redirecting...</p>
  <p>Click 'Continue' if not redirected automatically</p>
<form class="" method="post">

  {% csrf_token %}
  <button type="submit" id="continue" class="submit-form-button">{% trans "Continue" %}</button>
</form>
</div>







<script>
  window.addEventListener('load', function() {
    document.getElementById('continue').click();
  })
  
</script>

<style>
  div {display:none}
  .confirm-form{display:block !important;}
  body{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height:100vh;
  }
  h1{
      width: 100%;
  }
  .submit-form-button{
    border-radius: 10px;
    padding:10px;
  }
</style>

{% endblock %}
