{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tinymce.com/4/tinymce.js"></script>
    <link rel="stylesheet" href="{% static 'tinymce/skins/content/default/content.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    <title>Landing</title>
</head>
<script>



    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>



<body>
    <div class="mainContainer">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/logoblack.png' %}" alt="logo">
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blogs/1/">Blog</a></li>
                    <li><a href="/">
                            <button class="btn"> Sign In</button>

                        </a></li>

                </ul>
            </div>



        </div>
    </div>
    <div class="container">
        <div class="hero" style="height:400px;">
            <div class="hero-text">
                <h1>{{blog.title}}</h1>


            </div>
            <div class="hero-image">

            </div>
        </div>
        <div class="mainContainer">

            <div class="features">
                <div class="dot">•</div>
                <div class="item"> Previous Year Questions</div>
                <div class="dot">•</div>
                <div class="item"> AI powered guidance engine</div>
                <div class="dot">•</div>
                <div class="item"> Realistic simulation engine to sharpen your skills</div>
                <div class="dot">•</div>
                <div class="item"> A dynamic question engine!</div>
            </div>
        </div>
    </div>
    <!--Waves Container-->
    <div style="background:rgb(0,0,0);">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
    <div class="blogContainer" style="color:black;">
        <div class="blog-body">
            <p>
                {{ blog.content|safe }}
            </p>



            <div class="footerSocial">
                <div class="footerIcon">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="footerIcon">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="footerIcon">
                    <i class="fab fa-instagram"></i>
                </div>
            </div>

        </div>
        <div class="blog-more">
            <h2>New Posts</h2>

            {% for blog in blogs %}
            <a href="/blog/{{blog.id}}/" class="blogcard">
                <p class="blogCardHorizontalHead"> {{ blog.title}}</p>
            </a>
            {% endfor %}





        </div>

    </div>
    </div>

    <div class="footer" style="background: url(https://svgsilh.com/svg/32210.svg);background: url(https://svgsilh.com/svg/32210.svg);
        background-size: contain;
        background-position-y: 20px;
        background-repeat: repeat-x;">
        <div style="background:transparent" class="footerContainer">
            <div class="footerLogo">

                <h2> --</h2>

            </div>


        </div>
    </div>







</html>